NET "CLK32" LOC="J4" | IOSTANDARD=LVCMOS33;
NET "CLK32" TNM_NET="CLK32";
TIMESPEC "TS_CLK32" = PERIOD "CLK32" 31.25 ns HIGH 50%;

NET "TMDS_out_P(0)"  LOC="C13"   | IOSTANDARD = TMDS_33 ; # Blue
NET "TMDS_out_N(0)"  LOC="A13"   | IOSTANDARD = TMDS_33 ;
NET "TMDS_out_P(1)"  LOC="B12"   | IOSTANDARD = TMDS_33 ; # Green
NET "TMDS_out_N(1)"  LOC="A12"   | IOSTANDARD = TMDS_33 ;
NET "TMDS_out_P(2)"  LOC="C11"   | IOSTANDARD = TMDS_33 ; # Red
NET "TMDS_out_N(2)"  LOC="A11"   | IOSTANDARD = TMDS_33 ;
NET "TMDS_out_P(3)"  LOC="B14"   | IOSTANDARD = TMDS_33 ; # Clock
NET "TMDS_out_N(3)"  LOC="A14"   | IOSTANDARD = TMDS_33 ;

NET "SDRAM_UDQM"     LOC="F15"   | IOSTANDARD=LVTTL;
NET "SDRAM_CLK"      LOC="G16"   | IOSTANDARD=LVTTL;
NET "SDRAM_CKE"      LOC="H16"   | IOSTANDARD=LVTTL;
NET "SDRAM_BA1"      LOC="T14"   | IOSTANDARD=LVTTL;
NET "SDRAM_BA0"      LOC="R14"   | IOSTANDARD=LVTTL;
NET "SDRAM_CSn"      LOC="R1"    | IOSTANDARD=LVTTL;
NET "SDRAM_RASn"     LOC="R2"    | IOSTANDARD=LVTTL;
NET "SDRAM_CASn"     LOC="T4"    | IOSTANDARD=LVTTL;
NET "SDRAM_WEn"      LOC="R5"    | IOSTANDARD=LVTTL;
NET "SDRAM_LDQM"     LOC="T5"    | IOSTANDARD=LVTTL;
NET "SDRAM_ADDR(0)"  LOC="T15"   | IOSTANDARD=LVTTL;
NET "SDRAM_ADDR(1)"  LOC="R16"   | IOSTANDARD=LVTTL;
NET "SDRAM_ADDR(2)"  LOC="P15"   | IOSTANDARD=LVTTL;
NET "SDRAM_ADDR(3)"  LOC="P16"   | IOSTANDARD=LVTTL;
NET "SDRAM_ADDR(4)"  LOC="N16"   | IOSTANDARD=LVTTL;
NET "SDRAM_ADDR(5)"  LOC="M15"   | IOSTANDARD=LVTTL;
NET "SDRAM_ADDR(6)"  LOC="M16"   | IOSTANDARD=LVTTL;
NET "SDRAM_ADDR(7)"  LOC="L16"   | IOSTANDARD=LVTTL;
NET "SDRAM_ADDR(8)"  LOC="K15"   | IOSTANDARD=LVTTL;
NET "SDRAM_ADDR(9)"  LOC="K16"   | IOSTANDARD=LVTTL;
NET "SDRAM_ADDR(10)" LOC="R15"   | IOSTANDARD=LVTTL;
NET "SDRAM_ADDR(11)" LOC="J16"   | IOSTANDARD=LVTTL;
NET "SDRAM_ADDR(12)" LOC="H15"   | IOSTANDARD=LVTTL;
NET "SDRAM_DATA(0)"  LOC="T13"   | IOSTANDARD=LVTTL;
NET "SDRAM_DATA(1)"  LOC="T12"   | IOSTANDARD=LVTTL;
NET "SDRAM_DATA(2)"  LOC="R12"   | IOSTANDARD=LVTTL;
NET "SDRAM_DATA(3)"  LOC="T9"    | IOSTANDARD=LVTTL;
NET "SDRAM_DATA(4)"  LOC="R9"    | IOSTANDARD=LVTTL;
NET "SDRAM_DATA(5)"  LOC="T7"    | IOSTANDARD=LVTTL;
NET "SDRAM_DATA(6)"  LOC="R7"    | IOSTANDARD=LVTTL;
NET "SDRAM_DATA(7)"  LOC="T6"    | IOSTANDARD=LVTTL;
NET "SDRAM_DATA(8)"  LOC="F16"   | IOSTANDARD=LVTTL;
NET "SDRAM_DATA(9)"  LOC="E15"   | IOSTANDARD=LVTTL;
NET "SDRAM_DATA(10)" LOC="E16"   | IOSTANDARD=LVTTL;
NET "SDRAM_DATA(11)" LOC="D16"   | IOSTANDARD=LVTTL;
NET "SDRAM_DATA(12)" LOC="B16"   | IOSTANDARD=LVTTL;
NET "SDRAM_DATA(13)" LOC="B15"   | IOSTANDARD=LVTTL;
NET "SDRAM_DATA(14)" LOC="C16"   | IOSTANDARD=LVTTL;
NET "SDRAM_DATA(15)" LOC="C15"   | IOSTANDARD=LVTTL;

NET "SD_CLK"     LOC="L12" | IOSTANDARD=LVTTL;
NET "SD_CD_DAT3" LOC="K12" | IOSTANDARD=LVTTL;
NET "SD_DAT0"    LOC="M10" | IOSTANDARD=LVTTL;
NET "SD_DAT1"    LOC="L10" | IOSTANDARD=LVTTL;
NET "SD_DAT2"    LOC="J11" | IOSTANDARD=LVTTL;
NET "SD_CMD"     LOC="K11" | IOSTANDARD=LVTTL;

NET "LEDS<0>" LOC="P11" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "LEDS<1>" LOC="N9"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "LEDS<2>" LOC="M9"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "LEDS<3>" LOC="P9"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "LEDS<4>" LOC="T8"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "LEDS<5>" LOC="N8"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "LEDS<6>" LOC="P8"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "LEDS<7>" LOC="P7"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
